<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="form-group">
        <select id="projectinput5" name="interested" class="form-control">
            <option value="" selected>Select item</option>
            <option value="1">RED</option>
            <option value="2">Blue</option>
        </select>
    <input id="store" type="text" name=" ">
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('projectinput5').addEventListener('change', function(e) {
                var value = e.target.value;
                document.getElementById('store').setAttribute('name', value);
                console.log('#store name is now: ' + document.getElementById('store').getAttribute('name'))
            });
        });

        </script>
  </body>
</html>
